debug/
obj/
**build**/
/build-*/
/install-*/
include/
lib/
dist/
res/

*.spec

fort.*
*.o
*.exe
*.mod
*.i90

res*.txt
*.vtk
stdout
stderr
log
!/log/
!/log/*.md
*out*
*err*

go.sh
slurm.sh
pjsub.sh

*.io
*.conf
*.format
*.yaml

mpm_fem
mpm_fem_hy
data_p/myrank_*
spdata*.txt
spdata*.bin
griddata*.bin
.d*[1-9]?

CMakeUserPresets.json
*.h5

*.png

temp/
